/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

/* HEADER */
header {
    background: linear-gradient(90deg, #881414, #c91c1c);
    color: white;
    text-align: center;
    padding: 30px;
}

/* NAVBAR COM FLEX */
nav {
    background-color: black;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 15px;
    position: sticky;
    top: 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: red;
}

/* MAIN */
main {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
}

/* CATÁLOGO EM FLEX */
.catalogo {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

/* CARD */
.catalogo section {
    background-color: white;
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);

    display: flex;
    flex-direction: column;
}

/* IMAGEM */
.catalogo img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

/* TITULOS */
.catalogo strong {
    font-size: 18px;
    margin-bottom: 5px;
}

/* PARÁGRAFOS */
.catalogo p {
    margin-top: 10px;
    line-height: 1.5;
}